<% myhash = {} -%>
<% @ruby_versions.each do |ruby_version| -%>
<% myhash [ "#{@user} #{ruby_version}" ] = {'user_home' => "#{@user_home}", 'version' => "#{ruby_version}" } -%>
<% end -%>
<%= myhash.to_yaml %>
